[2018-08-07 14:27] Templum opened #2 "Support basic auth for accessing authenticated gateway"
In the same way functions in OpenFaaS Cloud access a secret to access the API Gateway's function list, we should enable this for the connector.

[2018-08-07 14:28] Templum opened #3 "Move to annotations"
OpenFaaS now has support for annotations meaning we can use a rich value for the topic list.

faas-swarm 0.4.0
faas-netes 0.6.0
openfaas-operator (awaiting review & merge)
This task means changing the code to look at the function's topic value in an annotation instead of a label.

It should be a straight-forward change plus basic smoke testing on Kubernetes and Swarm.

[2018-08-07 14:29] Templum opened #4 "Update Readme"
Provide simple instruction to add the component to existing OpenFaaS deployment.
And general modifications

[2018-08-14 18:08] Templum commented on #3
https://github.com/openfaas-incubator/kafka-connector/pull/6

[2018-11-18 16:13] alexellis commented on #2
Hi Simon, I would consider this feature essential now.

I've put together a small SDK which may be useful for you - or if that's too much work to adopt, then there's also the Kafka connector to which I added auth recently.

SDK example:
https://github.com/openfaas-incubator/connector-sdk/blob/master/cmd/tester/main.go

Alex

[2018-11-18 20:37] Templum commented on #2
Hi @alexellis ,

Alright, I will use the SDK then. Based on what I saw in the code, there are some parts that need modification. For now, using the SDK I can only print the responses (Invoker), but I wanted to receive the answer. So I have the option to send it to an answering queue.

Another thing is that I currently experience issues with importing `github.com/openfaas-incubator/connector-sdk/ty

[2018-11-24 17:31] alexellis commented on #2
You should be able to vendor the types package directly without needing to access a main package. 👍

I'd consider this work high priority.

[2018-11-25 14:16] Templum commented on #2
Hi @alexellis ,

Thanks for your information, I still have a way to go in regards to Golang. So I was able to use the types directly as you mentioned, a local test was also successful. The only thing missing now is to update the documentation and the docker-compose & K8S files.

[2018-11-25 16:15] alexellis commented on #2
Hi Simon,

Glad to hear about the progress. Once ready I'd suggest doing a "Release" through the GitHub Releases page on this repo.

Please feel free to reach out for help, advise or to ask questions on our Slack community any time you need.

Alex

[2018-11-25 18:08] Templum commented on #4
#6 Adds Documentation for K8S & Docker

[2018-11-25 20:54] #4 closed

[2018-11-25 20:57] Templum opened #7 "Make use of the go modules"
As part of go 1.11, they introduced go modules.  Make sure to set up a module for the connector and remove files associated with go dep.

[2018-11-27 22:11] cyburg20 opened #8 "Docker image build failed"
I checked out the old revision c9c0edd, with the aim of building the old image but I encountered an error:

[code]

[2018-11-27 22:28] Templum opened #9 "Change to processing behaviour of the Connector"
A user reported that in the current version of the connector, the incoming messages are processed sequentially instead of parallel. As it is basically waiting for the `ACK` before sending the next message.

- [x] Investigate if there was an accidently code change on the connector part. As with the old version it was parallel.
- [x] Generally improve throughput by spawning multiple consumer based o

[2018-12-02 15:14] #8 closed

[2018-12-03 20:54] #9 closed

[2018-12-07 15:30] rafaelnicolett opened #12 "Error Pod Reading messages"
I have the problem that my pod it's restart every time.

2018/12/07 15:26:15 [*] Waiting for messages. To exit press CTRL+C
2018/12/07 15:26:45 invalid character 'i' looking for beginning of value

Any suggestion?

[2018-12-07 17:23] Templum commented on #12
First of all which version are you using, is this an older version?

I saw similar issues when you ran the connector and tried to connect to a basic auth protected OpenFaaS Gateway (Currently the standard). In that case you want to configure Basic Auth correctly, by setting the environment variables

[2018-12-11 21:06] Templum opened #14 "Add Go Linting"
- [ ]  Add `golint ./...` during CI
- [ ] Fix existing issues

[2018-12-19 20:36] #2 closed

[2018-12-20 19:46] Templum commented on #12
Will close this now, if you still experience the issues, feel free to reopen.

[2018-12-20 19:57] #7 closed

[2018-12-20 20:01] Templum commented on #2
Hello @alexellis ,

I performed the release it is now also available @ DockerHub with the tags `latest`, `stable` & `0.1.0`.
It includes the necessary code for Basic Auth. Further, the documentation was updated to reflect this.

[2019-01-19 14:11] kumy commented on #12
@Templum I also encounter this issue with either `release` or `develop` tags

[code]

[2019-01-19 14:35] kumy commented on #12
https://github.com/Templum/rabbitmq-connector/blob/bb0661c1afd1d1fb41ae15bcc2388a50b642e574/main.go#L25-L27

Isn't it the problem as for both tags `release` or `develop`, the line is always the same:

[code]

[2019-01-19 14:43] kumy commented on #12
@Templum  I've built my own docker image with source code patched with _my_ credentials, and I don't encounter the problem anymore. So I think published docker images are quite unusable :/

[2019-01-19 15:08] Templum commented on #12
Thanks for the information. I will look at this then, seems to be an issue with the building pipeline

[2019-01-19 19:06] Templum commented on #12
Hey @kumy I was able to probably find the issue. Could you verify with `templum/rabbitmq-connector:hotfix_12` that it now works. As written in the documentation based on the Platform `Swarm` or `Kubernetes` you need to correctly set the credentials

[2019-01-19 20:14] Templum commented on #12
Over at #18 @kumy did verify that it now will use the correct version. I applied the hotfix to: `develop`, `release`, `latest` & `0.1.0`.

@kumy if everything works please let me know, so I can close the issue.

[2019-01-19 20:34] kumy commented on #12
@Templum I'm sorry it's not fixed in images from hub.docker.com :( version still appear as `dev` and error still raised. Tested on `templum/rabbitmq-connector:0.1.0` and `templum/rabbitmq-connector:release`

[2019-01-19 21:04] Templum commented on #12
@kumy really sorry for the inconvenience seems I pushed the wrong image by accident. Now it should work as shown by the logs

[code]

[2019-01-19 21:10] kumy commented on #12
I can confirm tag `0.1.0` is now working. @Templum Thanks!

[2019-01-19 23:13] #12 closed

[2019-01-25 19:58] Templum opened #20 "Adress issues with spelling"
https://goreportcard.com/report/github.com/Templum/rabbitmq-connector

[2019-01-26 23:23] Templum opened #23 "Update Docs"
Add the following things:

- Badges (Coverage, Build, Go Repot)
- Give Information on Topologie for RabbitMQ
- Link to RabbitMQ Production Checklist
- Create PR Template

[2019-01-27 19:26] #23 closed, assigned to nobody

[2019-02-27 10:47] milly21 opened #26 "[BUG] OpenFaas functions are not getting invoked everytime there is a message for that topic"
# General Information

**Environment**
OpenFaas is deployed locally on kubernetes(using Minikube)
Rabbitmq and rabbitmq connector is deployed on on kubernetes(using Minikube)

**Connector Version**
Latest version

# Bug Details

**Describe the bug**
When I send messages to different topics, the OpenFaas function is not getting invoked every time.
**Expected behaviour**
I expect OpenFaas function t

[2019-02-27 11:03] milly21 commented on #26
Looked at Rabbitmq connector logs and I am getting message"Should not happen" when the function is not getting invoked.

[2019-02-27 14:03] Templum commented on #26
Alright, thanks for the input. I will try to reproduce it.

I will get back to you in case I require further input.

[2019-02-27 18:13] Templum commented on #26
@milly21 I was able to reproduce the issue. I'm currently working on a fix for this. I will ping you again, once it is finished. Further, I will also link the PR, so you should be able to see the progress.

[2019-02-27 19:49] Templum commented on #26
@milly21 could you be so kind and retest if `templum/rabbitmq-connector:pr-27 ` resolves the issues you experience ?

[2019-02-27 20:01] Templum opened #28 "[FR] Create CodeCov File"
**Is your feature request related to a problem? Please describe.**
Currently, code cov will report on patches, resulting in the PR being flagged red

**Describe the solution you'd like**
Follow the guidance provided [here](https://docs.codecov.io/docs/codecov-yaml) and [here](https://gist.github.com/stevepeak/53bee7b2c326b24a9b4a)

**Describe alternatives you've considered**
-

**Additional contex

[2019-02-28 09:34] milly21 commented on #26
Yes sure, I will test the changes.

[2019-02-28 10:31] milly21 commented on #26
Do I need to add OpenFaaS_Topic in the connector-cfg.yml file?

[2019-02-28 10:53] Templum commented on #26
No it will now spawn an dedicated Queue per Topic. It basically Prefixes the topic with OpenFaaS.

[2019-02-28 11:16] milly21 commented on #26
Thank you. I just tested. It seems to be working well for me. I will do a load test as well.

[2019-03-01 07:01] Templum commented on #26
Alright, I will later merge the PR. Thanks for the testing.

[2019-03-01 19:49] #26 closed

[2019-03-01 20:02] #28 closed

[2019-05-04 11:13] lmorandini opened #30 "[FR] Support for ActiveMQ"
Since both ActiveMQ and RabbitMQ support AMQP 1.0, is at all possible to use this connector with ActiveMQ? (I have to stick to ActiveMQ, due to legacy code.)

[2019-05-05 15:59] Templum commented on #30
@lmorandini thanks for raising this. I will look into this, currently [this ](ithub.com/streadway/amqp) lib is used for performing the connection. If it does support it, I can see what else is left to do.

Did you already tried out if it is working?

[2019-05-05 23:03] lmorandini commented on #30
Thanks for the prompt reply @Templum. No, I did not try it, as I am just evaluating the use of OpenFaasS to replace a piece of our architecture. (More specifically, the component that has to be replaced takes a job description from ActiveMQ, performs the job, and then send the results back to ActiveMQ.

[2019-05-08 14:43] Templum commented on #30
@lmorandini I see. Then I suggest that you come back to this issue, once you decided if you want to try it out. Then we can start the implementation process / see if it is necessary.

Although based on what you shared here, it seems that OpenFaaS should be a good match for your requirements.

[2019-06-27 03:13] lmorandini commented on #30
It seems using ActiveMQ is not an option: the library your connector uses (https://github.com/streadway/amqp) supports only the AMQP 0.9.1 protocol (supported by RabbitMQ but not by ActiveMQ), and not AMQP 1.0 (which is supported by RabbitMQ via a plugin, and natively by ActiveMQ).

Any idea?

[2019-06-28 19:04] Templum commented on #30
@lmorandini thanks for sharing. So there are go implementations for AMQP, but it would require me more or less from the ground up.

I will check if there is an lib out there, which is interface wise close to the one I'm using.

[2019-06-30 22:22] lmorandini commented on #30
I am working on a Node.js implementation of a trigger/event generator based on ActiveMQ/STOMP (as I do not do Go). However, I noticed Go is the programming language of choice for OpenFaaS: do you see having a non-Go based implementation as an issue?

[2019-07-01 11:46] Templum commented on #30
@lmorandini in my regular job I'm also working with node mostly, but I wanted to learn go to keep my mind fresh and open. But as OpenFaaS offers an REST API, there is no restriction to golang. It just makes it easier as you can reuse the upstream definitions, nevertheless let me know if you need help. I surely can help out a bit :)

[2019-07-04 19:04] #30 closed

[2019-07-23 12:22] AntoninCamus opened #31 "[BUG] Wrong image name (in templates or in registry)"
# General Information

**Environment**

Docker: [X]
Kubernetes: [X]
Other: []

# Bug Details
**Describe the bug**
In the kubernetes template (as well as in the docker compose), you use the docker image `templum/rabbitmq-connector:dev`. But this one is nowhere to be found, in fact on your registry there is a develop tag but no dev tag.

**Expected behaviour**
The image should either be tagged dev i

[2019-07-23 12:36] AntoninCamus opened #32 "[BUG] Connector crashes without reason"
# General Information

**Environment**

Docker: []
Kubernetes: [X]
Other: []

**Connector Version**
Tag:develop

# Bug Details
**Describe the bug**
When I try to run the connector, I get crashes just after the connector succeed to connect to the RabbitMQ. I'm not sure if I missconfigure something, but eitherway the error message is not meaningfull at all `invalid character 'i' looking for beginnin

[2019-07-23 13:32] Templum commented on #32
Thanks for reaching out please have a look at my comment on #12. The log message you shared here is typically for Auth Issues between connector and OpenFaaS

[2019-07-23 13:56] Templum commented on #31
Good catch, the branches are now used for the tags. Will update it.

[2019-07-25 07:53] AntoninCamus commented on #31
Couldn't you simply rename develop to dev ?
About that, I find the naming of the branches a bit unclear. What is the difference between develop & master ? When we arrive on the repo, the default branch seems to be develop... what branch should we use ?

[2019-07-25 07:55] AntoninCamus commented on #32
Thank you very much for your help.
Would be an nice enhancement to warn about that (catching the error ?), instead of printing a strange parsing message.

[2019-07-25 08:21] antonincms opened #33 "[FR] Allow to listen to multiple exchanges"
**Is your feature request related to a problem? Please describe.**
In my workflow, we'd like to react to existing events, pushed by different microservices (let say A and B) which commit their actions in different Exchange (AEx and BEx).

**Describe the solution you'd like**
I would nice think to have a list of echanges, instead of only one :
[code]
 Maybe more precisely, each exchange could have

[2019-07-25 16:59] Templum commented on #31
Actually, the repo is following the [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) Branching Model, hence the default branch for people visiting is develop.

However, the master is only used for releases or pre-releases.

[2019-07-26 20:16] #31 closed

[2019-07-26 20:24] Templum commented on #32
Hi @AntoninCamus,

Well, it is an issue with the official [connector sdk,](https://github.com/openfaas-incubator/connector-sdk) which is related to [this](https://github.com/openfaas-incubator/connector-sdk/blob/master/types/function_list_builder.go#L28-L59) code section. Most likely I will remove the library at some point and leverage something self-written, however, for now, it is a limitation o

[2019-07-26 20:30] Templum commented on #33
Hi @AntoninCamus ,

I like your proposal especially when the goal of the using developer is to minimize changes on existing services, also implementing it should be more or less straight forward.

So I consider to implement it, I will update this issue when I find the necessary time to work on this matter,

[2019-08-05 08:22] AntoninCamus commented on #32
Except in the pod (and the replicaset), where I've got the logs `2019/08/05 08:03:57 invalid character 'i' looking for beginning of value` I don't have any other suspicious things... so I don't really know where could I search.

The thing is that the pod don't crash until I send the first message on the queue, and just after I send it, it start crashing.

[2019-08-09 04:57] Templum commented on #32
Could you share the complete k8s deployment yaml for the connector? And also how exactly you setup OpenFaaS

[2019-09-26 16:59] NKnusperer opened #36 "[FR] Publish new release"
**Is your feature request related to a problem? Please describe.**
Version `0.1.0` is bugged because of #26 and the `develop` tag cannot be used productive because of #32 (credentials are hard-coded when build as `dev` version).

**Describe the solution you'd like**
Publish a new `0.1.1` release to Docker Hub build from the current `develop` branch.
I build a Docker image locally for testing and n

[2019-09-27 12:40] Templum commented on #36
@NKnusperer thanks for pointing that out. Will perform a new image, should be available later this day as version `0.1.1`

[2019-09-27 12:59] Templum commented on #36
Done - @NKnusperer could you be so kind and see if Release Image `0.1.1` does work for you as expected?

[2019-10-07 14:01] NKnusperer commented on #36
Works 👍

[2019-10-07 14:01] #36 closed

[2019-10-29 07:40] knafel opened #37 "[FR] Enable use of "certificate signed by unknown authority" for OpenFaaS gateway"
**Is your feature request related to a problem? Please describe.**
We would like to use the RabbitMQ-Connector on company internal k8s cluster, which uses certificates signed by our company CA. This is not supported by the connector resulting in error accessing the gateway URL:
"Get https://dev.function.our-company-name.com/system/functions: x509: certificate signed by unknown authority"

**Descri

[2019-10-29 12:32] Templum commented on #37
Hey @knafel sounds like a good and straightforward Idea. However, I need to check it the Controller SDK does support such an behaviour. Sadly I did not implement the communication to open faas myself. I will check it and get back to you, overall your request seems to be a quick win.

[2019-10-31 19:12] Templum commented on #37
@knafel was able to verify that the lib supports the behavior. Will now start implementing it, would you be so kind and test it? I will later share with you the docker image.

After successful validation through you, I would publish it with a new minor version.

[2019-11-02 12:09] knafel commented on #37
@Templum : Great that you are willing to implement this feature ... very much appreciated. I will be able to test starting earliest next Tuesday (currently traveling).
Thanks a lot.

[2019-11-05 08:53] Templum commented on #37
@knafel that's fine. I think I can start working on it on Wednesday.

[2019-11-05 13:06] knafel commented on #37
@Templum : OK ... let me know, when you are ready for testing.

[2019-11-05 20:01] Templum commented on #37
@knafel actually I find the time to work on it today, could you give this image a try `templum/rabbitmq-connector:pr-38`. Please look [here](https://github.com/Templum/rabbitmq-connector/tree/feature/37) for information on the default as well as the env name. Let me know if it works for you.

[2019-11-05 20:03] #32 closed

[2019-11-05 20:04] Templum commented on #32
Closed due to inactivity

[2019-11-07 08:05] knafel commented on #37
@Templum: Very good! I will try to find time today or tomorrow to test it.

[2019-11-09 16:29] knafel commented on #37
Hi @Templum:
Because of other urgent matters, i started testing the new connector today from home.
A short interim status:
Unfortunately, I run into problem (even with not setting the INSECURE_SKIP_VERIFY to "false" or "true"). The container is repeatedly restarting (CrashLoopBackOff).
The logs are for me not conclusive ... see attachment
[container.log](https://github.com/Templum/rabbitmq-connect

[2019-11-09 17:19] Templum commented on #37
Hi @knafel ,

Based on the shared logs. It seems like you did not provide or provide the wrong secret for the communication to open faas. As the last message is usually thrown by the Open FaaS Connector SDK in case the call was performed without the correct Basic Auth Credentials.

By default, OpenFaaS is now deployed with active Basic Auth. Please revisit that part, I will set up an issue to remo

[2019-11-09 17:50] Templum opened #39 "[Internal] Replace Connector SDK"
**Is your feature request related to a problem? Please describe.**
As a user, I would like to receive detailed feedback when calls to OpenFaaS faile, due to incorrect setup.

**Describe the solution you'd like**
Switch over from the Connector SDK to an own implementation, which provides better feedback and is better suited for usage.

**Describe alternatives you've considered**
-

**Additional con

[2019-11-10 07:45] knafel commented on #37
@Templum : Thanks ... I will check it.

[2019-11-14 08:59] knafel commented on #37
Hi @Templum:

Intermediary status:
You were correct re. the authentication problems. It worked, when I temporary replaced part of your main.go -- see below:
`	// if tag == "dev" {
	// 	log.Printf("Connector is in local mode will use the debug credentials")
	// 	creds = &auth.BasicAuthCredentials{User: "admin", Password: "b43c1de00d8a477d6af007a6516944e3d1b02692a190fe71f68616b678ac959a"}
	// } else

[2019-11-15 12:27] alexellis opened #41 "Upgrade to apps/v1 for the Deployment for K8s 1.16"
Upgrade to apps/v1 for the Deployment for K8s 1.16

https://github.com/Templum/rabbitmq-connector/blob/develop/artifacts/connector-dep.yaml

[2019-11-15 12:38] Templum commented on #41
@alexellis thanks for pointing this out, I will correct it later today.

[2019-11-16 15:11] #41 closed

[2019-11-22 20:33] #39 closed

[2020-02-01 12:51] Templum commented on #37
@knafel I was finally able to finish up the final works on it, further also removed the local hack. Final PR is #47.

Let me know if you can test it.

[2020-02-20 07:50] Templum commented on #37
Merged #47

[2020-02-20 07:50] #37 closed

[2020-05-07 08:10] hutton-capital opened #50 "[BUG] Zero functions found when hasNamespaceSupport is true but namespaces is empty."
# General Information

I found that hasNamespaceSupport is true but the namespaces array returned from getNamespaces can be empty, leading to zero functions being found and added to the cache (as crawlFunctions iterates over the namespaces array)

**Environment**

Docker: [x]
Kubernetes: []
Other: []

**Connector Version**
Tag:0.1.2
Sha:

# Bug Details

I found that hasNamespaceSupport is true but

[2020-05-07 08:41] Templum commented on #50
Thanks for reporting this @hutton-capital. Just to summarize:

In regards to your testing, can you please also share the OpenFaaS Version that you are using (especially the one of the gateway). That would be appreciated 🙏

I will make sure to look into this issue later today and see if I can push out a fix right away.

[2020-05-07 09:09] hutton-capital commented on #50
Hi,

Faas versions as requested;

openfaas/gateway:0.18.13
openfaas/basic-auth-plugin:0.18.13
openfaas/faas-swarm:0.8.5
nats-streaming:0.11.2
prom/prometheus:v2.11.0
prom/alertmanager:v0.18.0

[2020-05-07 17:39] Templum commented on #50
I was able to determine the root cause, it seems like the Swarm Provider does not support namespaces. Instead of returning status indicating this, they are returning [200 with an empty list](https://github.com/openfaas/faas-swarm/blob/c3059c87645208c36bf7b63cac67014c9fd9f200/handlers/namespace.go). I created the PR #51 that should fix it.

[2020-05-07 17:44] Templum commented on #50
@hutton-capital could you please test if `docker pull templum/rabbitmq-connector:pr-51` does resolve your issue ?

[2020-05-08 10:27] hutton-capital commented on #50
Hi @Templum I have tested templum/rabbitmq-connector:pr-51 and it works fine. Thanks for the quick turnaround.

[2020-05-08 10:34] Templum commented on #50
Thanks for testing this, I will merge then and it will be available on the latest branch. I will prepare an release for the upcoming days.

[2020-05-08 10:35] #50 closed

[2020-05-08 10:54] Templum commented on #50
This change is now available via `docker pull templum/rabbitmq-connector:develop`

[2020-08-19 08:23] jebos opened #56 "[BUG] Can not get openFaasFunction to trigger"
# General Information

**Environment**

Docker: []
Kubernetes: [x]
Other: []

**Connector Version**
Tag:
Sha:

# Bug Details

**Describe the bug**
I try to configure the following setup:

-> OpenFaas Function send a message to RabbitMQ
-> RabbitMQ shall trigger another OpenFaas Function

In my RabbitMQ I have configured this:
[code]

[code]

Looking in RabbitMQ I can see the RabbitMQ Connector Con

[2020-08-19 09:59] jebos commented on #56
the log says

[code]

[2020-08-19 10:11] jebos commented on #56
never mind... restarting the pod solved the issue...

[2020-08-19 10:11] #56 closed

[2020-08-19 10:19] Templum commented on #56
@jebos thanks for the update, so I assumed you restarted the connector pod ?

[2020-08-19 11:38] jebos commented on #56
Yes.

[2020-08-25 11:10] jebos opened #57 "[BUG] Missing content-type in http request to openfaas function"
# General Information

**Environment**

Docker: []
Kubernetes: [x]
Other: []

**Connector Version**
Tag: master
Sha:

# Bug Details

**Describe the bug**
The http request to open-faas does not provide a content-type header. This causes the lose of the request body when calling a nodejs based open-faas function  (based on https://github.com/openfaas/templates/tree/master/template/node12). This defa

[2020-08-25 11:12] jebos commented on #57
I did some short hack here, to make it "work for my test" https://github.com/jebos/rabbitmq-connector/commit/51d81338249b849d728982463eea6d890fe41eb5

[2020-08-28 10:52] Templum commented on #57
@jebos could you be so kind and check out if `$ docker pull templum/rabbitmq-connector:pr-58` works for you. It will leverage the MIME-Type of the RabbitMQ Delivery. Allowing the message sender to specify it.

Please let me know if it works for you or if you observe any side affects.

[2020-10-13 09:28] Templum commented on #57
@jebos any updates ?

[2020-10-13 10:24] jebos commented on #57
Hi, I got a bit distracted by other things... I plan to take a look today afternoon - we are pulling in your branch docker / image, but did not got to test its function yet

[2020-10-14 11:30] jebos commented on #57
The PR works for me as expected.

[2020-10-14 15:39] #57 closed

[2021-01-12 17:10] zadigus opened #60 "[FR] Helm chart"
**Is your feature request related to a problem? Please describe.**

When I want to deploy the connector on my kubernetes cluster, I would like to deploy it by means of a helm chart, as I do for all my other microservices. Such a helm chart would obviously make the setup of the connector a bit simpler than hacking into the `yaml` configurations stored in the `artifacts` folder.

**Describe the solu

[2021-01-12 17:20] Templum commented on #60
Hello @zadigus , thanks for raising this. I'm myself did not do much with helm so far, therefore a PR with your solution would be amazing.

Please feel free to create a PR.

[2021-01-13 09:18] zadigus commented on #60
Usually, people serve their helm charts on a webserver (e.g. github pages). This is not something I will setup in a PR (or at least not now). What I can do for you is I can provide you with a helm chart that'd be sufficiently generic for most uses. Would that be already good enough for you in a first step? If so, where would like the helm chart to come in? in the artifacts? at the project root?

I

[2021-01-13 12:37] Templum commented on #60
@zadigus thanks for the pointer, will check the option of hosting it via GitHub pages out. I believe a PR without the necessary serve setup is fine.

So I saw that some projects have it under the `charts`-folder (e.g. OpenFaaS), not so sure if that is like "best" practice. What would you suggest? Maybe it makes sense to have it in a dedicated directory over having it in the generic folder.

[2021-01-13 15:34] zadigus commented on #60
In my projects, I do define helm charts for my own microservices. In those cases I usually make up a `chart` folder where I lay down the chart.

Most of the 3rd-party software I rely on have their charts defined in a separate repository (e.g. [bitnami](https://github.com/bitnami/charts)). Such repositories group together 3rd-party software of all kinds. The authentication and permission management

[2021-01-13 16:11] zadigus commented on #60
@Templum I have a little question. Please excuse my lack of experience with your connector and rabbitmq. I am currently implementing a message queue for my e-shop and came up to the idea to use rabbitmq with your connector on openfaas. I never used rabbitmq before, therefore I need to know the following in order to make my helm chart productive:

- does it make sense to have multiple replicas of t

[2021-01-13 17:49] Templum commented on #60
@zadigus thanks for your input, I agree and think we should go forward with having the chart folder on the root. An own repo sounds a bit overkill, given the "reach" of this project.

In regards to your second question. It should be possible to have multiple replicas, but to be fair I never tested it. So can't guarantee that there won't be any competing queries. Therefore I would suggest setting t

[2021-01-19 08:56] juandisay opened #63 "[Question] Hi, developer.."
**How it works?**
Hi, Can you help me, how to this connector work?
Do you have any blog or video tutorial for this?
Thank so much.

[2021-01-19 16:13] Templum commented on #63
Hello @juandisay ,

There is no such thing. Please have a look at the usage section of the readme to learn how it functions. If you have issues with deployment please check out the relevant sections.

If there is something concrete feel free to answer it here, but please provide some details on the infrastructure etc.

Best regards

[2021-01-20 00:26] juandisay commented on #63
I have producer code , but cannot connect.
I built it simple producer with Python Pika

`import json
import random
import pika

print('pika version: %s' % pika.__version__)

topic = "account"

connection =  pika.BlockingConnection(
	pika.ConnectionParameters("docker.local",5672,"/"))

main_channel = connection.channel()

main_channel.queue_declare("OpenFaasQueue", exclusive=True)
main_channel.exch

[2021-01-20 12:16] Templum commented on #63
Can you tell me on which platform you are running it (swarm / k8s / locally)?

In which order did you start producer & consumer?

Please share also the logs, as from what you shared alone nothing really can be said

[2021-01-20 14:22] juandisay commented on #63
Now, My project run in swarm Local just for dev, for production, running it k8s.
I really don't understand, how to implement this connector, I don't understand the go programming language.
But I tried to implement following what is documented, and still can't.
I hope this is like the ingress operator.

[code]

[2021-01-20 15:22] Templum commented on #63
@juandisay thanks for sharing the information. As visible from your logs the setup seems to be correct and it logs invocations, however also visible from your logs is that the lambda might be not deployed with the correct annotation/topic.

Here is an example of creating a function with annotation + topic: `$ faas-cli store deploy figlet --annotation topic="account"`. You would need to replace `ac

[2021-01-20 15:40] juandisay commented on #63
PRODUCER
[code]
CONSUME
[code]
Yes , I think connector not connect with function, so invocation is not streamed back.
![not_connect](https://user-images.githubusercontent.com/9843141/105198152-eff15480-5b6f-11eb-8464-431139e70f8b.gif)

hm, I replace My topic to `account`
`faas store deploy figlet --annotation topic="account" -g $IP`

[2021-01-20 15:45] Templum commented on #63
Can you see the annotation in the swarm information for the function?

I believe the issue is more with the connector not being able to discover the function.

[2021-01-20 16:01] juandisay commented on #63
Exactly, the connector not being able to discover the function.
about annotation on swarm information, You mean like service inspect ?
[code]

[2021-01-20 16:32] Templum commented on #63
From what you shared this seems to be an issue with OpenFaaS not posting the annotation.

You can try to call the OpenFaaS Endpoint `/system/functions` and check if there it shares the annotation. Because the connector gets it directly from OpenFaaS Endpoint (see [here](https://github.com/Templum/rabbitmq-connector/blob/178c2281c40e6b2f53bb775a57d04c6b62dbedc2/pkg/openfaas/cacher.go#L109-L120)).

[2021-01-20 16:36] juandisay commented on #63
[code]
yeps, annotations is Null.. HOw to create topic?

[2021-01-20 16:44] Templum commented on #63
Honestly no idea, from the code of the CLI annotation flag is the correct one.

Maybe swarm dropped support for it

[2021-01-20 16:55] juandisay commented on #63
yes openfaas was not support swarm, But swarm very easy to create image docker just for built and work in local.
Reduce push image to registry :)
I used openfaas previous version ., so I can install openfaas with swarm.

Okay @Templum thank so much for support :+1: :+1:
I think, I can try in k8s  :)

[2021-01-21 01:08] juandisay commented on #63
![succes](https://user-images.githubusercontent.com/9843141/105259851-2efac680-5bbf-11eb-9351-b1ca51e1d01d.gif)

@Templum now its works. :)
Am Reinstall my openfaas, with new version :1st_place_medal:  like
openfaas  checkout 0.18.0

But my question is
How to get the response mean Invoked result??

[2021-01-21 07:12] Templum commented on #63
@juandisay sadly getting the response is not yet implemented

[2021-01-21 07:43] juandisay commented on #63
okay. Thanks so much for support :+1: :+1:

[2021-01-21 14:15] Templum commented on #63
You are welcome, I will now close the issue. Please feel free to recreate if needed.

[2021-01-21 14:15] #63 closed

[2021-01-27 12:45] #60 closed

[2021-01-27 12:52] zadigus opened #64 "[BUG] Contrary to what is advertised in the documentation, it seems like RMQ_QUEUE is never used in the code"
# General Information

**Environment**

Irrelevant.

**Connector Version**
Tag: v0.4.1
Sha: 43976f802d876418170012a9ca597513a33a4edc

# Bug Details

**Describe the bug**

It is no big deal. It seems like the documentation is not in sync with the code. In the [configuration options section](https://github.com/Templum/rabbitmq-connector/blob/v0.1.4/README.md#configuration-options-via-environment-var

[2021-01-27 22:05] Templum commented on #64
Thanks for raising this, I will correct the readme

[2021-01-29 21:48] #64 closed

[2021-02-12 19:58] Templum commented on #33
Is there anyone that would be willing to test out the new approach? I more or less finished work on this in #72. The only thing missing here is the updated documentation and an updated integration test.

Please reach out to me or post here if you are interested.

[2021-02-16 20:17] Templum commented on #33
Was merged today, will release a Version 1.0.0 release in the next few days.

[2021-02-17 17:00] zadigus opened #77 "[FR] Multi-Namespace Support for Lambda Invocation"
**Is your feature request related to a problem? Please describe.**

I have multiple k8s namespaces holding openfaas functions. In my k8s cluster, I am deploying my software for three different environments: staging, pre-production, and production. Each of those environments is deployed in a different k8s namespace. In each of those namespaces, I have potentially the same openfaas function names, b

[2021-02-17 18:36] Templum commented on #77
Hey @zadigus,

Thanks for reaching out. Generally speaking, the coding actually crawls all the namespaces (if the OpenFaaS provider does support it). However, after checking the coding it seems like it does not use it for the Invocation, which results in the behavior you are observing.

Could you do me a favor and verify using the cache update message. If all of the functions from the different na

[2021-02-18 11:03] zadigus commented on #77
Currently, my system looks like this:

- openfaas gateway: 0.18.7
- openfaas alertmanager: 0.18.0
- openfaas faas-idler: 0.3.0
- openfaas nats: 0.17.0
- openfaas prometheus: 2.11.0
- openfaas queue-worker: 0.11.0
- rabbitmq: 3.8.11
- rabbitmq-connector: Version: v0.1.4 / Commit: 43976f8

[2021-02-18 11:04] zadigus commented on #77
Regarding the cache update message, what do you want exactly, the `rabbitmq-connector`'s log file?

[2021-02-18 12:23] Templum commented on #77
@zadigus thanks for sharing the details. That would be enough to get me going.
In regards to the log, I'm referring to [that line](https://github.com/Templum/rabbitmq-connector/blob/0e8fefc9d3594837eeeb36d826353e6e35e17d10/pkg/openfaas/cache.go#L54). It should print out the total number.

I will probably start working on this issue today or tomorrow, based on available time.

[2021-02-18 12:26] zadigus commented on #77
Ok. Thank very much for your help. Very appreciated. Please find the logs of both [openfaas-gateway](https://github.com/Templum/rabbitmq-connector/files/6002697/gateway.log) and [rabbitmq-connector](https://github.com/Templum/rabbitmq-connector/files/6002696/rabbitmq-connector.log). On line 37 of the openfaas-gateway log, you see my issue.

[2021-02-18 17:51] Templum commented on #77
@zadigus I already verified the behavior locally, please feel free to verify it using `templum/rabbitmq-connector:v0`. If you confirm the functionality, I will release a new version.

[2021-02-19 05:06] zadigus commented on #77
@Templum it looks good to me. In the [gateway.log](https://github.com/Templum/rabbitmq-connector/files/6007771/gateway.log), you can see that now the `authorized-payment` function gets actually called. For me it's fine like this.

[2021-02-19 07:07] Templum commented on #77
@zadigus will release a new version then.

[2021-02-19 08:32] Templum commented on #77
🚀  Landed in [0.1.6](https://github.com/Templum/rabbitmq-connector/releases/tag/v0.1.6)

[2021-02-19 08:32] #77 closed, assigned to Templum

[2021-03-02 17:44] Templum commented on #33
Was released with [V1.0.0]( https://github.com/Templum/rabbitmq-connector/tree/v1.0.0). Should be available soon in dockerhub

[2021-03-02 17:44] #33 closed

[2021-03-12 06:48] jebos opened #89 "[FR] Connector should push message back to rabbitmq if function call fails"
**Is your feature request related to a problem? Please describe.**
In case openfaas is busy (timeout), or there is an error (response !=2xx), it seems required that the connector pushes the message back to the queue in order to avoid data to be lost.

**Describe the solution you'd like**
As mentioned, I think it would be nice if the message is pushed back to the queue, it may seem also a good idea

[2021-03-12 07:54] Templum commented on #89
As offered earlier, will implement this feature. Follow this issue for any progress.

[2021-03-12 18:33] Templum commented on #89
Created Draft PR #91, this feature will be made available to V1

[2021-03-15 09:34] Templum commented on #89
@jebos would you willing to try out the change? Implementation and local testing were concluded.
And I plan to later merge the PR, which should make it available through the following tags `develop` & `v1`.

Please also see the following [section](https://github.com/Templum/rabbitmq-connector#topology-configuration), as this is the major difference between v0 & v1

[2021-03-15 09:51] #89 closed, assigned to Templum

[2021-03-21 00:52] gshenai1 opened #94 "example usage of topology"
Can somebody provide an example using the topology? updating the artifact with an example would be helpful. I get the error "During Config validation provided topology is either non existing or does not end with .yaml occurred"

[2021-03-21 11:22] Templum commented on #94
Please check out the [Example Yaml](https://github.com/Templum/rabbitmq-connector/blob/develop/artifacts/example_topology.yaml). I do believe that is more than straightforward.

If you still struggle, feel free to share it here.

[2021-03-21 11:29] Templum commented on #94
Based on your reported error, it seems that there is no file under the specified path. As this is what is [checked](https://github.com/Templum/rabbitmq-connector/blob/4cb1576bee81953c1b64de6a699e35e990233fcf/pkg/config/config.go#L125-L127). Therefore you should make sure the file is present, for k8s you can have a look at this [article](https://carlos.mendible.com/2019/02/10/kubernetes-mount-file-

[2021-03-21 15:16] gshenai1 commented on #94
thank you very much. I had observed the error in the k8s environment. Thank you also for sharing the k8s article, it was very helpful.  To get rid of the error, I followed the poor man's way - which was download the git repo and build the docker image with the topology.yaml and then pushed it to my k8s environment - but the link you shared is the elegant solution. Everything is working for me now,

[2021-03-21 15:16] #94 closed, assigned to nobody

[2021-04-06 03:26] jigishadhawan opened #104 "Help with connector setup"
I have set up openfaas, rabbitmq on a kubernetes cluster (set up cluster with kind) on a windows machine but linux container. Both openfaas and rabbitmq seem to be working as expected.

However I'm facing an issue when deploying the rabbitmq-connector code. I have the Path_to_topology variable as below in the yaml file

-         name: PATH_TO_TOPOLOGY
          value: "./csharp/hack/test/artifact

[2021-04-06 09:17] Templum commented on #104
So from what I see `PATH_TO_TOPOLOGY` should be `/artifacts/cfg/example-topology.yaml` as this what you specify in the volume. Please avoid using relative paths, as it will be relative to the go executable. Not the workdir that you might specified in the Docker image.

Further, you can always try to attach to your k8s and checkout, if you really see a file there.

[2021-04-06 09:37] Templum commented on #104
Further `OPEN_FAAS_GW_URL` & `RMQ_HOST` look wrong. As on K8S `127.0.0.1` will be not your local pc, but the local container/pod.

[2021-04-06 18:27] jigishadhawan commented on #104
Thanks Simon. Everything is working now

For anyone else looking I followed these steps:-

This is using Gitbash on windows
1. $ arkade install openfaas --basic-auth=false
2. $ kubectl rollout status -n openfaas deploy/gateway
3. $ kubectl port-forward -n openfaas svc/gateway 8080:8080 &
4. opened another git bash terminal and confirmed faas-cli. Not i already had faas-cli installed so didnt need

[2021-04-06 18:27] #104 closed, assigned to nobody

[2021-04-08 23:25] jigishadhawan opened #108 "Openfaas functions are not being triggered with rabbitmq connector"
# General Information

**Environment**

Docker: v20.10.5
Kubernetes: v1.19.7
Other: []

**Connector Version**
[Version: dev Commit: aa10f5d]

# Bug Details

**Describe the bug**
Openfaas functions are not being triggered with rabbitmq connector. It was working before this new commit was made yesterday

**Expected behaviour**
The openfaas function should trigger

**Steps to Reproduce**

This is usi

[2021-04-09 06:58] Templum commented on #108
@jigishadhawan the latest commit changed a GitHub action, so highly doubt that it has any impact. From your logs I can see that a message was received, but did not match the correct label: `Received message for topic OpenFaaS_DEx_abc that did not match subscribed topic abc will reject it`.
So from this log line, it looks like you send something with routingkey: `OpenFaaS_DEx_abc`, where it should

[2021-04-09 15:37] jigishadhawan commented on #108
Hello @Templum

I did see that message and i generated more messages for the queue

The command for setting up function

faas-cli store deploy figlet --annotation topic="abc" --name integration

Topology.yaml file contents
- name: DEx
  topics: [abc]
  declare: true
  type: "direct"
  durable: false
  auto-deleted: false

.net code for sending message
var factory = new ConnectionFactory
        {

[2021-04-09 16:17] Templum commented on #108
Hello @jigishadhawan,

I performed the following steps in an attempt to locally reproduce the issues and was not able to do so, the only major difference is the producer. As I leverage the Rabbit MQ UI. Below I will explain my steps, please try to follow the publishing steps on the Rabbit MQ UI as well. Because this lets us eliminate potential issues with the `.net`-Producer.

I deployed OpenFaaS

[2021-04-09 16:50] Templum commented on #108
@jigishadhawan additional to the above instructions, I created a small producer in go which I added with #109. With which I was also not able to reproduce your issues.

[2021-04-09 18:16] jigishadhawan commented on #108
Thanks @Templum . It seems to be working fine now. My issue was with openfaas.

I reinstalled it and it seems to be triggering correctly now

[2021-04-09 18:18] jigishadhawan commented on #108
I had another question on how to receive the input in code from rabbitmq when the openfaas function gets triggered.

[2021-04-09 18:57] #108 closed, assigned to nobody

[2021-04-09 18:58] jigishadhawan commented on #108
thanks for the help!!

[2021-04-09 19:24] Templum commented on #108
@jigishadhawan btw your step 13 is obsolete, you don't need Cluster IP of gateway. Actually, you can leverage the service name, as this will automatically be resolved to the Cluster IP

[2021-04-09 19:26] jigishadhawan commented on #108
thanks. I will give it a try

[2021-04-10 12:43] oktapodia opened #110 "[BUG] Messages not acknowledged"
# General Information

**Environment**

Docker: [20.10.5]
Kubernetes: []
Other: []

**Connector Version**
Tag: templum/rabbitmq-connector:latest
Sha: 8db570831cf6b595f2beb4481b2f121283053b34502ff0adca257b3426eb3260

# Bug Details

**Describe the bug**

The connection between the rabbitmq-connector and rabbitmq is working well (thank you for this project!) however, my messages never get acknowledge

[2021-04-10 18:35] Templum commented on #110
Could you please share the output of the connector, the shared information does not really allow me any analysis of the issue.

That a side, generally speaking, calls to the function should yield a `200 - OK` to be considered passing. Is that the case for you? Additionally, you could  try the latest `develop`-branch as yesterday I just confirmed the correct behaviour (see also #108)

[2021-04-12 09:12] oktapodia commented on #110
Sorry for the late answer, here are the logs

[code]

[2021-04-12 09:17] oktapodia commented on #110
Same thing on the develop image

[2021-04-12 09:19] oktapodia commented on #110
The http status code is always 200 as I don't know how to manage it (yet)

[2021-04-12 09:55] Templum commented on #110
Please be aware that OpenFaaS (Components) might actually alter the status code, could you check what you receive if you directly call the function via the OpenFaaS Gateway.

Because from your logs  I can see the invocation going through and no warning is getting printed (about not being able to [ack delivery](https://github.com/Templum/rabbitmq-connector/blob/develop/pkg/rabbitmq/exchange.go#L111

[2021-04-12 10:20] oktapodia commented on #110
I've added some more information into the [client](https://github.com/Templum/rabbitmq-connector/blob/develop/pkg/openfaas/client.go#L167) to get `resp.StatusCode(), fasthttp.StatusOK`

Here's the result
[code]

[2021-04-12 10:44] oktapodia commented on #110
At the queue level

I've double checked and https://github.com/Templum/rabbitmq-connector/blob/develop/pkg/rabbitmq/exchange.go#L113 is correctly returning `nil`, so the acknowledgment should be ok

Here's the options of my exchange:
[code]

I am using the default option for the queue

[2021-04-12 12:04] Templum commented on #110
@oktapodia Is the message raised as persistent?  Could you share your topology & options you use the message producer?

[2021-04-12 16:07] Templum commented on #110
![Screenshot 2021-04-12 180640](https://user-images.githubusercontent.com/7703616/114425940-d7feff00-9bb9-11eb-8c67-b04fb6c753e7.png)

For me every message was acked, I could not reproduce your issue.

[2021-04-13 09:44] oktapodia commented on #110
Ok I think we are not speaking about the same one.

I did declare the queue `remind_me` on the exchange `my-delay-exchange`.
The rabbitmq connector created the queue `OpenFaaS_my-delay-exchange_remind_me`.
I am sending the rabbitmq messages to the queue `remind_me`.
The rabbitmq connector is listening this message and processing it through the queue `OpenFaaS_my-delay-exchange_remind_me` and is co

[2021-04-13 11:14] Templum commented on #110
@oktapodia thanks for the clarification, but that is something not related to this connector. Sadly I'm not that familiar with RabbitMQ, but I assume it stays in your queue as no consumer is lacking on the specific queue.

The connector as you stated uses its own queue on which it sends out the ack. It does not interact with any other queue. Also don't think that this would be the correct behavior

[2021-04-13 11:37] oktapodia commented on #110
I see, thank you very much for your feedbacks, there was a confusion between a queue and a routine key on our end

[2021-04-13 11:37] #110 closed, assigned to nobody

[2021-04-21 17:02] Templum opened #112 "[FR] Make number of clients used for communication to functions configurable"
**Is your feature request related to a problem? Please describe.**
Right now the number of max hosts for an individual function is hardcoded to 256. Which might be a reasonable default value, but does not leave any room for configurations. Especially if bursts of deliveries can be expected

**Describe the solution you'd like**
Provide an env that allows setting a value if needed.

**Describe alter

[2021-04-21 19:10] #112 closed, assigned to nobody

[2021-05-02 21:18] AmarjeetRaj opened #118 "[FR]Enable use of RMQ virtual host for connection"
**Is your feature request related to a problem? Please describe.**
I would like to use RabbitMQ virtual host for connection as I have restricted access to RabbitMQ.

**Describe the solution you'd like**

1. Add environment variable RMQ_VHOST, eg: RMQ_VHOST:openfaas
2. Same can be utilized in getRabbitMQConnectionURL() in config.go for enabling virtual host
`fmt.Sprintf("amqp://%s:%s@%s:%s/%s", use

[2021-05-02 21:43] Templum commented on #118
Hello,
Sounds like a reasonable and straight forward request. Will implement it, please feel free to track this Issue for the progress. Will link the PR once created.

Best regards

[2021-05-03 09:34] Templum commented on #118
@AmarjeetRaj your FR was implemented and merged to `develop`. Please try out the latest develop image and let me know if it works for you. The documentation was already adjusted, once I get positive feedback from you I will merge it into v1 and prepare a new release.

[2021-05-03 11:43] AmarjeetRaj commented on #118
@Templum Thank you very much. Tried and successfully connected to RMQ using virtual host. Working as expected.

[2021-05-03 16:01] Templum commented on #118
Released it as part of [1.0.2](https://github.com/Templum/rabbitmq-connector/releases/tag/v1.0.2)

[2021-05-03 16:01] #118 closed, assigned to nobody

[2021-06-17 16:18] CSTDev opened #140 "TLS connections to RabbitMQ"
**Feature request** (I don't think it's currently possible?)
All connections to the Rabbitmq I'm using are required to use TLS for both the connection and client authentication. Would it be possible to add some configuration to allow a certificate, key and CA certificate chain to be provided to the underlying rabbit client?

I've noticed the library being used for the connection has a _DialTLS_ me

[2021-06-18 08:05] Templum commented on #140
Hello @CSTDev, sounds legit. I will have a look into the `DialTLS` method to check what it expects.

[2021-06-19 15:17] Templum commented on #140
@CSTDev I will proceed with implementing this FR, please make sure to follow the progress on the PR once I started. As I will probably need to rely on you for validation.

[2021-06-20 11:20] Templum commented on #140
@CSTDev would you be so kind to try out the coding from #142 and see if it works for you? The README on the branch already contains the necessary documentation with respect to the TLS setup.

The only thing missing over at the PR are the tests, which I will as I have time. And a manual validation.

[2021-06-23 11:47] Templum commented on #140
@CSTDev did you find the time to verify it ?

[2021-06-24 19:46] CSTDev commented on #140
Code looks good, haven't had a chance to verify it yet will try to get to it the end of this week.

[2021-06-26 16:10] CSTDev commented on #140
Any chance of adding an optional password for the client key please? Looks like passing the file to [DecryptPEMBlock ](https://golang.org/pkg/crypto/x509/#DecryptPEMBlock ) with the password, and then into X509KeyPair should do it.

Otherwise I've got it working, thanks!

[2021-06-26 16:45] Templum commented on #140
@CSTDev thanks for getting back and testing. I'm concerned about the deprecation warning and would like to not support something already marked deprecated

[code]

[2021-06-27 12:09] CSTDev commented on #140
That makes sense, I somehow missed that when I read it!

[2021-06-28 18:03] Templum commented on #140
@CSTDev alright, then I believe I will merge the PR in the next days. And release a new version. Also thanks for your good catch comment over at the PR, I resolved it today along with some flood of new tests.

[2021-07-05 20:08] Templum commented on #140
After some issues with the pipeline, due to a failure in one of the GitHub actions. I finally released this feature in [v1.0.3](https://github.com/Templum/rabbitmq-connector/releases/tag/v1.0.3)

[2021-07-05 20:08] #140 closed, assigned to Templum

[2021-10-12 07:30] yididiyag commented on #94
Hello here, I am encountering the same issue:
[code]
here is my connector-dep.yaml file:
[code]

here is my config.yaml file:
[code]

hi @gshenai1 can you share your config & connector-deployment.config files so that I can see where I am at fault.

cc: @Templum

[2021-10-12 07:45] Templum commented on #94
@yididiyag from the above it seems like you forgot to set `PATH_TO_TOPOLOGY`, which would explain the error. Because your `config.yaml` looks correct

[2021-10-12 10:22] yididiyag commented on #94
Thanks, @Templum for your quick response, once again, I just followed the steps provided in this [issue-104](https://github.com/Templum/rabbitmq-connector/issues/104)
When I am hitting the same path_to_topology issue, I am now doubting if I went wrong in the process of applying the connector?

That brings me to a question like:
1. Do I actually need to re-create the image locally by overriding `ex

[2021-10-12 10:40] Templum commented on #94
@yididiyag rebuilding image is a poor man's choice and should not be performed. Further, there is no need to override the example, it is a simple example.

I suggest simply deposit the config in a path of your choice (not overriding potentially existing files) and then setting the container to the correct path. Further, you can always leverage k8s tooling to inspect your pod and checkout where the

[2021-10-12 14:36] yididiyag commented on #94
Thanks a lot, using absolute path indeed helped me, I found it working!

[2021-12-30 16:37] Templum opened #190 "[BUG] Not possible to provide credentials when using TLS"
# Bug Details

**Describe the bug**
When using TLS it is not possible at all to provide credentials. Meaning if TLS is enabled and the user requires Auth it is not possible to leverage the connector.

**Expected behavior**
Leverage a user when present

**Steps to Reproduce**
-

**Screenshots/Logs**
-

[2021-12-30 16:49] #190 closed, assigned to nobody

[2022-01-03 17:24] Templum opened #193 "[BUG] Uses wrong HTTP Method"
# General Information

# Bug Details

**Describe the bug**
Currently the connector does not always use the correct HTTP Method. Which may cause issues in newer version of OpenFaaS.

**Expected behaviour**
Correct use of HTTP Methods

**Steps to Reproduce**
-

**Screenshots/Logs**
-

[2022-01-03 17:56] #193 closed, assigned to nobody

[2022-09-05 13:04] zadigus opened #265 "[Q] What will happen if your rabbitmq-connector crashes?"
The way I understand your code, the rabbitmq-connector is a rabbitmq consumer. It consumes messages out of the rabbitmq, maps the message with the relevant function, waits until the function returns; upon function result reception, the rabbitmq-connector sends back an acknowledgment (or a failure) to rabbitmq.

In order to be able to send the right acknowledgement of the right function to rabbitmq

[2022-09-05 14:07] Templum commented on #265
Actually, you got it right the message is only leaving the queue if it gets acked. So if the consumer/connector crashes before it can send the ack,  it will go back to the queue. And get picked up at a later point in time.

Each message taken from rabbit has a reservation time, which binds it to a consumer. That's why the message won't be at the "top" of the queue.

[2022-09-05 14:07] Templum commented on #265
Let me know if that answered your question

[2022-09-05 14:08] Templum commented on #265
Let me know if that answered your question, and further you may leverage the [discussions](https://github.com/Templum/rabbitmq-connector/discussions/categories/q-a) in the future for questions.

[2022-09-05 15:17] zadigus commented on #265
Ok thanks for your explanations.

[2022-09-05 15:17] #265 closed, assigned to nobody